@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');/*font-family: 'Josefin Sans', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');/* font-family: 'Stick No Bills', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gray-blue: #0A1128; 
    --blue-ocean: #001F54;
    --blue-sky: #034078;
    --bright-blue: #0e9ec5;
    --white-blue: #c8f3ff;
    
    --default: 'Josefin Sans', sans-serif;
    --special: 'Stick No Bills', sans-serif;
}

.profile-image {
    width: 120px;
    border-radius: 100%;
    border: 2px solid var(--bright-blue);
}
.png{
    vertical-align: middle;
}

ul {
    list-style: none;
}

a {
    text-decoration: none ;
    color: var(--white-blue);
    transition: .2s;
}
a:hover {
    color: var(--bright-blue);
}

h1, h2, h3 {
    font-family: var(--special);
    letter-spacing: 1px;
}
h3 {
    font-size: 15px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 1300px;
    height: 100vh;
    margin: auto;

    background-color: var(--gray-blue);
    color: var(--white-blue);

    font-family: var(--default);
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    padding: 15px;
    width: 100%;
    height: 100%;
}

.left-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100%;
    min-width: 250px;
}
.left-container article {
    background-color: var(--blue-ocean);
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.550);

    padding: 15px;
}

.left-container .presentation {
    text-align: center;
    font-family: var(--special);
    letter-spacing: 1px;
}

.social-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.social-container img {
    padding-right: 5px;
}

.tech-container ul{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;

}
.tech-container ul li {
    padding: 5px 10px;
    font-weight: bolder;
    text-align: center;

    flex: 1;

    background-color: var(--bright-blue);
    color: var(--blue-sky);
    border-radius: 10px;
}

.experience-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.experience-item {
    margin-left: 30px;
    list-style: circle;
    font-weight: bolder;
}
.experience-item h2 {
    font-size: 1em;
}
.experience-item p {
    font-size: .8em;
}

.right-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    max-width: 950px;
    min-width: 520px;
}

.my-posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.my-posts .projects-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--blue-ocean);
    border-radius: 15px;
    padding: 15px;

    width: 100%;
}

.container-projects {
    display: flex;
    width: 100%;
    gap: 20px;
    
}
.projects {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    background-color: var(--blue-ocean);
    padding: 15px;

    border-radius: 15px;

    width: 100%;
    height: 110px;
}
.projects h3 {
    display: flex;
    align-items: flex-end;
    gap: 5px;
}
.projects ul {
    display: flex;
    justify-content: space-between;
}
.projects ul li{
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.container-me {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.me-title {
    display: flex;
    align-items: center;

    background-color: var(--blue-ocean);
    border-radius: 15px;
    padding: 15px;

    width: 100%;
}

.informations {
    display: flex;
    align-items: center;
    gap: 20px;

    background-color: var(--blue-ocean);
    border-radius: 15px;
    padding: 15px;

    width: 100%;
}

.content-me {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.about-me h2{
    font-size: 1.3em;
}

.about-me2 ul {
    display: flex;
    gap: 20px;
}

.social-to-phone {
    background-color: var(--blue-ocean);
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.550);
    padding: 15px;
    
    display: none;
}
.social-container-phone {
    display: flex;
    flex-direction: column;
}
.social-container-phone img {
    padding-right: 5px;
}

footer {
    padding: 10px;
    text-align: center;
    background-color: var(--gray-blue);
    color: var(--white-blue);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .right-container {
        min-width: 320px;
    }
    .left-container {
        display: none;
    }
    .social-to-phone {
        display: block;
        order: 3;
    }
    .container-me {
        order: 1;
    }
    .my-posts {
        order: 2;
    }
    footer {
        display: none;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
    .right-container {
        min-width: 310px;
    }
    .left-container {
        justify-content: flex-start;
        gap: 20px;
    }
    footer {
        display: none;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px){
    .container-projects {
        flex-direction: row;
    }
    .left-container {
        justify-content: flex-start;
        gap: 20px;
    }
    footer {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .informations {
        flex-direction: row;
    }
}