* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gray-blue: #06283D; 
    --blue-ocean: #0a3068;
    --blue-sky: #134faa;
    --bright-blue: #06d2ec;
    --blue-baby: #DFF6FF;
    
    --default: 'Josefin Sans', sans-serif;
    --special: 'Stick No Bills', sans-serif;
}

.profileImage {
    width: 120px;
    border-radius: 100%;
}



body {
    width: 100vw;
    height: 100vh;

    background-color: var(--gray-blue);
    color: var(--blue-baby);
}

.container {
    display: flex;


    width: 100vw;
}

.aboutMe {
    background-color: var(--gray-blue);
    display: flex;
    flex-direction: column;

    width: 400px;
}

.aboutMe article {
    display: flex;
    flex-direction: column;

    background-color: var(--blue-ocean);

    padding: 15px;
    margin: 20px;

    border-radius: 10px;
}

.projects {
    background-color: var(--gray-blue);
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    width: 100%;
}